.content__wrapper{
  width: 100%;
  padding-top: 6rem;
}

/* Dashboard */

.content__row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content__column{
  padding-left: 0;
  padding-right: 8px;
  width: 50%;
  max-width: 50%;
  margin-bottom: 1rem;

  &+ .content__column{
    padding-left: 8px;
    padding-right: 0;
  }
}

.card__box{
  position: relative;
  border-radius: 8px;
  background: $fd_bs_white;
  padding: 1.5rem 1rem 1.5rem;
  width: 100%;
  height: 100%;

  .card__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

    .card__title{
      display: flex;
      align-items: center;
  
      i{
        font-size: 20px;
        color: $fd_pr_green;
        margin-right: .5rem;
      }
  
      span{
        font-weight: $FW_BOLD;
        color: $fd_pr_green;
        margin-right: 1rem;
      }
    }
  }

  .card__body{
    padding: 1rem;
  }

  .card__footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  &.card__box--green{
    padding: 0;
    
    .card__header{
      padding: 1rem;
      background: $fd_pr_green;
      color: $fd_bs_white;
      border-radius: 8px 8px 0 0;
      align-items: center;

      .card__title{
        flex-direction: column;
        align-items: flex-start;
  
        i{
          color: $fd_bs_white;
        }
    
        span{
          color: $fd_bs_white;
        }
  
        .card__details{
          font-size: 14px;
          padding-top: .5rem;
          letter-spacing: 0.02em;
        }
      }
  
      .card__badge{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        padding: 8px;
        background: $fd_bs_white;
        color: $fd_pr_green;
        font-weight: $FW_SEMI_BOLD;
        border-radius: 50%;
      }
    }

  }
}

.greeting__box, .dashboard__box, .invoices__box{
  height: 100%;
}

.greeting__box{
  overflow: hidden;
  padding: 2rem 1rem 1.5rem;

  .greeting__text{
    margin-bottom: 1rem;
  }

  .greeting__date{
    font-size: 24px;
    font-weight: $FW_SEMI_BOLD;
    margin-bottom: 3.5rem;
  }

  .greeting__question{
    font-size: 20px;
    font-weight: $FW_MEDIUM;
    margin-bottom: 2rem;
  }

  img{
    position: absolute;
    top: 0;
    right: 0;
  }

  @include viewport(desktop-down) {
    img{
      width: 160px;
    }
  }
}

.transaction__listing{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem 0 1rem;

  .transaction__column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    max-width: 20%;
  }

  .transaction__icon{
    font-size: 30px;
    padding: 12px 20px;
    border-radius: 8px;

    &.transaction__icon--agents{
      background: $fd_tr_primary;
      color: $fd_pr_green;
    }

    &.transaction__icon--web-page{
      background: $fd_tr_secondary;
      color: $fd_sc_brown-400;
    }

    &.transaction__icon--invoice{
      background: $fd_tr_primary;
      color: $fd_st_success;
    }
    
    &.transaction__icon--order-forms{
      background: $fd_tr_warning;
      color: $fd_st_warning;
    }
    
    &.transaction__icon--customer{
      background: $fd_tr_error;
      color: $fd_st_error;
    }
  }

  .transaction__count{
    font-size: 24px;
    font-weight: $FW_SEMI_BOLD;
    padding: 1rem 0 .5rem;
    text-align: center;
  }

  .transaction__title{
    text-align: center;
  }

  @include viewport(desktop-down) {
    .transaction__icon{
      font-size: 24px;
    }

    .transaction__count{
      font-size: 20px;
    }

    .transaction__title{
      font-size: 14px;
    }
  }
}

.table-responsive{
  overflow-y: visible;
}

.table {
  td, th{
    font-size: 14px;
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    vertical-align: middle;
  }

  .client__name, .main-item{
    display: block;
  }

  .client__handled, .sub-item{
    display: block;
    font-size: 10px;
    color: $fd_bs_black--sc;
  }

  .bank{
    img{
      max-width: 60px;
      max-height: 36px;
      object-fit: cover;
      margin-right: .5rem;
      border-radius: 4px;
    }
  }

  .sort__icon{
    margin-left: .3rem;
    display: none;

    &.active{
      display: inline-block;
    }

    &.descending{
      @include transform(rotate(180deg));
    }
  }

  .custom__select {
    max-height: 30px;

    select{
      padding: 4px 12px 4px 4px;
    }
  }
}

.pagination{
  color: $fd_bs_black--sc;
  letter-spacing: .5rem;
}


.schedule__wrapper{
  display: flex;
  align-items: center;

  input[type="checkbox"]{
    &.custom-checkbox{
      margin-right: 1rem;
    }
  }
}


.schedule__icon{
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 20px;
  border-radius: 8px;
  margin-right: 1rem;

  &.schedule__icon--topic{
    background: $fd_tr_secondary;
    color: $fd_sc_brown-400;
  }

  &.schedule__icon--date{
    background: $fd_tr_primary;
    color: $fd_st_success;
  }

  &.schedule__icon--link{
    background: $fd_tr_warning;
    color: $fd_st_warning;
  }
}

.schedule__title{
  color: $fd_bs_black;

  &.complete{
    text-decoration-line: line-through;
  }
}

.schedule__details{
  font-size: 12px;
  color: $fd_bs_black--sc;
  white-space: nowrap; 
  max-width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis;

  a{
    color: $fd_bs_black--sc;
    text-decoration: underline;
    @include transition(all .25s ease-out);

    &:hover{
      color: $fd_bs_black;
    }
  }

  @include viewport(desktop-down) {
    max-width: 200px;
  }
}

.actions__box{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;

  .left__box{
    display: flex;
    align-items: center;

     > *{
      margin-right: 8px;
     }
  }

  .right__box{
    display: flex;
    align-items: center;

     > *{
      margin-right: 4px;
     }
  }
}

form{
  .col-form-label{
    font-weight: $FW_SEMI_BOLD;
  }

  .required{
    font-weight: $FW_MEDIUM;
    font-size: 10px;
    background: $fd_bg_light-grey;
    color: $fd_bs_black--sc;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: .5rem;
  }
}