.content__wrapper{
  width: 100%;
  padding-top: 6rem;
}

/* Dashboard */

.content__row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content__column{
  padding-left: 0;
  padding-right: 8px;
  width: 50%;
  max-width: 50%;
  margin-bottom: 1rem;

  &+ .content__column{
    padding-left: 8px;
    padding-right: 0;
  }
}

.card__box{
  position: relative;
  border-radius: 8px;
  background: $fd_bs_white;
  padding: 1.5rem 1rem 1.5rem;
  width: 100%;
  height: 100%;

  .card__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    align-items: center;

    .card__title{
      display: flex;
      align-items: center;
  
      i{
        font-size: 20px;
        color: $fd_pr_green;
        margin-right: .5rem;
      }
  
      span{
        font-weight: $FW_BOLD;
        color: $fd_pr_green;
        margin-right: 1rem;
      }
    }

    .card__actions{
      &::before {
        padding-right: 1.5rem;
        color: $fd_bs_black--sc;
        height: 100%;
        width: 1px;
        border-left: 1px solid $fd_bs_black;
        content: "";
      }
    }

    .nav-pills{
      .nav-link.active, .show>.nav-link {
        color: $fd_pr_green;
        font-weight: $FW_BOLD;
        background-color: $fd_bs_white;
        border-bottom: 2px solid $fd_pr_green;
      }

      .nav-link{
        color: $fd_bs_black--sc;

        &:not(.active):hover{
          color: $fd_pr_green-300;
        }
      }
    } 
  }

  .card__body{
    padding: 1rem;
  }

  .card__footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  &.card__box--green{
    padding: 0;
    
    .card__header{
      padding: 1rem;
      background: $fd_pr_green;
      color: $fd_bs_white;
      border-radius: 8px 8px 0 0;
      align-items: center;

      .card__title{
        flex-direction: column;
        align-items: flex-start;
  
        i{
          color: $fd_bs_white;
        }
    
        span{
          color: $fd_bs_white;
        }
  
        .card__details{
          font-size: 14px;
          padding-top: .5rem;
          letter-spacing: 0.02em;
        }
      }
  
      .card__badge{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        padding: 8px;
        background: $fd_bs_white;
        color: $fd_pr_green;
        font-weight: $FW_SEMI_BOLD;
        border-radius: 50%;
      }
    }

  }
}

.greeting__box, .dashboard__box, .invoices__box{
  height: 100%;
}

.greeting__box{
  overflow: hidden;
  padding: 2rem 1rem 1.5rem;

  .greeting__text{
    margin-bottom: 1rem;
  }

  .greeting__date{
    font-size: 24px;
    font-weight: $FW_SEMI_BOLD;
    margin-bottom: 3.5rem;
  }

  .greeting__question{
    font-size: 20px;
    font-weight: $FW_MEDIUM;
    margin-bottom: 2rem;
  }

  img{
    position: absolute;
    top: 0;
    right: 0;
  }

  @include viewport(desktop-down) {
    img{
      width: 160px;
    }
  }
}

.transaction__listing{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem 0 1rem;

  .transaction__column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    max-width: 20%;
  }

  .transaction__icon{
    font-size: 30px;
    padding: 12px 20px;
    border-radius: 8px;

    &.transaction__icon--agents{
      background: $fd_tr_primary;
      color: $fd_pr_green;
    }

    &.transaction__icon--web-page{
      background: $fd_tr_secondary;
      color: $fd_sc_brown-400;
    }

    &.transaction__icon--invoice{
      background: $fd_tr_primary;
      color: $fd_st_success;
    }
    
    &.transaction__icon--order-forms{
      background: $fd_tr_warning;
      color: $fd_st_warning;
    }
    
    &.transaction__icon--customer{
      background: $fd_tr_error;
      color: $fd_st_error;
    }
  }

  .transaction__count{
    font-size: 24px;
    font-weight: $FW_SEMI_BOLD;
    padding: 1rem 0 .5rem;
    text-align: center;
  }

  .transaction__title{
    text-align: center;
  }

  @include viewport(desktop-down) {
    .transaction__icon{
      font-size: 24px;
    }

    .transaction__count{
      font-size: 20px;
    }

    .transaction__title{
      font-size: 14px;
    }
  }
}

.table-responsive{
  overflow-y: visible;
}

.table {
  td, th{
    font-size: 14px;
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    vertical-align: middle;
  }

  .client__name, .main-item{
    display: block;
  }

  .client__handled, .sub-item{
    display: block;
    font-size: 10px;
    color: $fd_bs_black--sc;
  }

  .bank{
    img{
      width: 60px;
      height: 36px;
      object-fit: fill;
      margin-right: .5rem;
      border-radius: 4px;
    }
  }

  .sort__icon{
    margin-left: .3rem;
    display: none;

    &.active{
      display: inline-block;
    }

    &.descending{
      @include transform(rotate(180deg));
    }
  }

  .custom__select {
    max-height: 30px;

    select{
      padding: 4px 12px 4px 4px;
    }
  }

  .product-icon{
    img{
      width: 36px;
      height: 36px;
      object-fit: cover;
      margin-right: 0.5rem;
      border-radius: 4px;
    }
  }

  .floor-plan{
    img{
      width: 80px;
      height: 40px;
      object-fit: cover;
      margin-right: 0.5rem;
      border-radius: 4px;
    }
  }
}

.pagination{
  color: $fd_bs_black--sc;
  letter-spacing: .5rem;
}


.schedule__wrapper{
  display: flex;
  align-items: center;

  input[type="checkbox"]{
    &.custom-checkbox{
      margin-right: 1rem;
    }
  }
}


.schedule__icon{
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 20px;
  border-radius: 8px;
  margin-right: 1rem;

  &.schedule__icon--topic{
    background: $fd_tr_secondary;
    color: $fd_sc_brown-400;
  }

  &.schedule__icon--date{
    background: $fd_tr_primary;
    color: $fd_st_success;
  }

  &.schedule__icon--link{
    background: $fd_tr_warning;
    color: $fd_st_warning;
  }
}

.schedule__title{
  color: $fd_bs_black;

  &.complete{
    text-decoration-line: line-through;
  }
}

.schedule__details{
  font-size: 12px;
  color: $fd_bs_black--sc;
  white-space: nowrap; 
  max-width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis;

  a{
    color: $fd_bs_black--sc;
    text-decoration: underline;
    @include transition(all .25s ease-out);

    &:hover{
      color: $fd_bs_black;
    }
  }

  @include viewport(desktop-down) {
    max-width: 200px;
  }
}

.actions__box{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: center;

  .left__box{
    display: flex;
    align-items: center;

     > *{
      margin-right: 8px;
     }

     span{
      white-space: nowrap;
     }
  }

  .right__box{
    display: flex;
    align-items: center;

     > *{
      margin-right: 4px;
     }
  }
}

form{
  .col-form-label{
    font-weight: $FW_SEMI_BOLD;

    p{
      font-weight: $FW_LIGHT;
      font-size: 12px;
      margin: 0;
      padding: .5rem 0 0;
    }
  }

  .required{
    font-weight: $FW_MEDIUM;
    font-size: 10px;
    background: $fd_bg_light-grey;
    color: $fd_bs_black--sc;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: .5rem;
  }
}

.component__listing{
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;

  .component__item{
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    width: 20%;
    margin-bottom: 2rem;
  }

  .component__card{
    height: 100%;
    position: relative;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  .card__image{
    position: relative;
    display: block;
    padding: 0 0 71.428% 0;

    img{
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      margin: auto;
    }
  }

  .card__details{
    padding: 1rem .75rem;
  }

  .price-box{
    margin-bottom: 1rem;

    .price{
      font-size: 20px;
      font-weight: $FW_BOLD;
    }
  }

  .price-box, .button-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .badge{
    font-weight: $FW_LIGHT;
  }

  @include viewport(desktop-down) {
    .component__item{
      display: block;
      padding-left: 8px;
      padding-right: 8px;
      width: 25%;
      margin-bottom: 2rem;
    }
  }
}

.cluster-details{
  padding-top: 3rem;
  padding-bottom: 1rem;

  h5{
    margin-bottom: 1rem;
  }
}

.property-details{
  display: inline-block;
  text-transform: capitalize;
  padding: .5rem 1rem;
  border-radius: 1.5rem;
  text-align: center;
  white-space: nowrap;
  @include transition(all .25s ease-out);
  background: $fd_sc_brown-50;
  color: $fd_sc_brown-400;
  margin-right: 0.5rem;
}

.avatar-group{
  display: flex;

  .avatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $fd_bs_white;
    cursor: pointer;
    @include transition(all .25s ease-out);

    &:hover{
      @include transform(translate(-5px));
    }

    & + .avatar{
      margin-left: -10px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.avatar--hidden{
      background: $fd_pr_green;
      color: $fd_bs_white;
      font-size: 14px;
      font-weight: $FW_SEMI_BOLD;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.board__box{
  .board__header{
    padding: .5rem;
    border-bottom: 4px solid $fd_bs_black--sc;
    margin-bottom: 1.5rem;

    h6{
      display: inline;
      font-weight: $FW_BOLD;
      letter-spacing: 0.02em;
      color: $fd_bs_black--sc;
      margin:0;
      margin-right: .5rem;
    }
    span{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: $fd_bs_white;
      color: $fd_bs_black--sc;
      padding: 2px 14px;
      border-radius: 25px;
      border: 2px solid $fd_bg_grey;
      font-weight: $FW_SEMI_BOLD;
      font-size: 12px;
    }

    &.board__header--next{
      border-bottom: 4px solid $fd_sc_brown-400;
    }

    &.board__header--progress{
      border-bottom: 4px solid $fd_st_warning;
    }

    &.board__header--complete{
      border-bottom: 4px solid $fd_st_success;
    }
  }

  .card{
    background: $fd_bs_white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);
    border: 1px solid $fd_bg_grey;
    border-radius: .5rem;
    margin-bottom: 1rem;
    @include transition(all .25s ease-out);

    &.card--hide{
      .card__body, .card__actions{
        height: 0;
        display: none;
      }
    }
  }

  .card__header{
    padding: 1.5rem 1rem 1.5rem;

    h5{
      font-weight: $FW_SEMI_BOLD;
      margin-bottom: 0;
    }

    span{
      color: $fd_bs_black--sc;
      cursor: pointer;
      @include transition(all .25s ease);

      &:hover{
        opacity: .7;
      }
    }
  }

  .card__body{
    padding: 0rem 1rem 1rem;
    color: $fd_bs_black--sc;
    font-size: 14px;
    font-weight: $FW_LIGHT;
    border-bottom: 1px solid $fd_bg_grey;
  }

  .card__detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0 0;
  }
  
  .card__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 12px;
    font-weight: $FW_SEMI_BOLD;
    color: $fd_bs_black--sc;

    .attribute{
      span{
        margin-right: 1rem;
      }
    }

    i{
      font-size: 1rem;
      padding-right: .3rem;
    }
  }

  .dateline{

    &.dateline--done{
      color: $fd_st_success;
    }

    &.dateline--block{
      color: $fd_st_error;
    }
  }
}